<div style="margin-top: 20px;">
  <div class="container">
    <div class='row'>
      <div class='span12'>
        <%= link_to (image_tag '/assets/domosaics_banner.png', :alt=>'DoMosaics'), 'http://www.domosaics.uni-muenster.de' %>
      </div>
    </div>
    <br />
    <br />
    <br />

<div class='row'>
  <% if @user.nil? %>
    <div class='alert alert-error' style='margin-top:10px; text-align:center;'>
      <b>Sorry</b> - unable to find download token. <a href="/#download">Sign-up again or have download token resent</a>
    </div>
  <% else %>
  <div class='span8'>
  <p style='text-align:justify;>'>
  Hi <b><%= @user.name %></b>, <br />
  before you proceed to download, please take note of the conditions stated below. If you should have any questions, comments or bug reports, please send a mail to
  <a href="mailto:domosaics@uni-muenster.de">domosaics@uni-muenster.de</a></p>
  Thanks, and enjoy.
  </div>
  <div class='span2 offset2'>
    <img src='/assets/download_arrow.png'>
  </div>
</div>
<b>Please Note</b>: 
<hr />
<ul>
<li>DoMosaics is still under development. Keep that in mind when you use DoMosaics for your research</li>
<br />
<li>We will contact you <b>exactly one more time</b> to notify you that the development phase is complete, and to invite you to download the released version</li>
<br />
<li>We do intend to release DoMosaics as open source, but until the final release please do not <b>copy/use any of the code</b> and <b>do not redistribute DoMosaics</b></li>
<br />
<li>By clicking on the download link below you agree with the conditions stated above, and with the following disclaimer:</li>
<br />
<div id='disclaim' style='text-align:justify;'>
THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND ANY EXPRESS 
OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY 
AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT HOLDER 
OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, 
OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR 
SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON 
ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING 
NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, 
EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
</div>
</ul>
<hr />
<div style='text-align:center;'>
<a class ="btn btn-large btn-primary" href="<%= download_file_url(:dtoken => @user.dtoken, :os => @os) %>"><i class="icon-arrow-down"></i> Download </a> 
<%= link_to 'Cancel', 'http://www.domosaics.uni-muenster.de', :class =>'btn btn-large btn-danger'%>
<% if @os != 'unknown' %>
  <p>Suggested installer: <b><%= @os %></b></p>
<% else %>
  <p>There is no installer for your platform. You will receive the java archive.</p>
<% end %>
Download a different installer: 
  |<% %w{Windows Linux iOS}.each do |os|%>
    <% next if os == @os %>
    <%= link_to os, download_file_url(:dtoken => @user.dtoken, :os => os) %> | 
  <% end %>
</div>
<br />
<% end %>
<br />
<br />
<br />
<br />
</div>
</div>

